@charset "UTF-8";

@font-face {
    font-family: Bold;
    src: url(../fonts/WorkSans-Bold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Regular;
    src: url(../fonts/WorkSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SemiBold;
    src: url(../fonts/WorkSans-SemiBold.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background: url(../images/background-pattern-desktop.svg) no-repeat;
    background-color: var(--Light-pink);
    background-position: top center;
    width: 100%;
    max-width: 1920px;
    transition: 0.5s ease;
    margin: auto;
}

.container{
    background-color: var(--White);
    width: 325px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 25px;
    margin: 100px auto;
}

.title{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: Bold;
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: var(--Dark-purple);
}

.ask{
    display: flex;
    flex-direction: column;
    font-family: Regular;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-size: 0.7rem; 
    color: var(--Dark-purple);
}

img.open{
    cursor: pointer;
}

img.close{
    display: none;
    cursor: pointer;
}

.answer{
    display: none;
    color: var(--Grayish-purple);
    font-family: SemiBold;
    margin-top: 30px;
}

hr{
    margin: 25px 0;
    border: 1px solid var(--Light-pink);
}

